.genreScreen {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-left: 3em;
  margin-right: 3em;
  margin-top: 2em;
}

.headerContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-style: solid;
  border-bottom-width: .05em;
  border-bottom-color: white;
  margin-bottom: 3em;
}

.header {
  color: white;
}